id = 0

# A commitlog read will pull full segment. Make sure that a segment isn't
# too big as async tcp writes readiness of one connection might affect tail
# latencies of other connection. Not a problem with preempting runtimes
[router]
id = 0
max_connections = 10010
max_outgoing_packet_count = 200
max_segment_size = 104857600
max_segment_count = 10
# Migrated settings from brokers
next_connection_delay_ms = 1
connection_timeout_ms = 60000
max_payload_size = 20480
max_inflight_count = 100
# shared_subscriptions_strategy = "random" # "sticky" | "roundrobin" ( default ) | "random"
# Any filters that match to configured filter will have custom segment size.
    # [router.custom_segment.'/office/+/devices/status']
    # max_segment_size = 102400
    # max_segment_count = 2
    # [router.custom_segment.'/home/+/devices/status']
    # max_segment_size = 51200
    # max_segment_count = 2

[prometheus]
listen = "127.0.0.1:9042"
interval = 1

#[console]
#listen = "0.0.0.0:3030"

# CLUSTER SETTINGS
[cluster]
name = "cluster"
node_mode = "master"
node_port = 1884
nodes="node2:1885, node3:1886"
max_missed_pings = 3
health_check_window_secs = 60
max_reconnect_attempts = 10

#[[cluster.nodes]]
#node_id = 1
#service_bus_address = "127.0.0.1"
#service_bus_port = 1884
#mode = "master"
#
#[[cluster.nodes]]
#node_id = 2
#service_bus_address = "127.0.0.1"
#service_bus_port = 1885
#mode = "slave"
#
#[[cluster.nodes]]
#node_id = 3
#service_bus_address = "127.0.0.1"
#service_bus_port = 1886
#mode = "slave"